
body{
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}

.list-group{
    /* 100vh is the height of th window, 54px is the size of Boostrap toolbar*/
    height: calc( 100vh - 54px);
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

